{% extends 'home.html' %}
{% load static %}
{% block title %}Add Shipping{% endblock %}

{% block content %}
<section class="row justify-content-center">
    <div class="col-lg-7">
        <div class="d-flex justify-content-start">
            <a class="btn btn-outline-dark rounded-4 w-auto" style="font-size: 13px;" href="{% url 'profile' %}">
                &#x2190; Back to Profile
            </a>
        </div>
        <br>
        <section class="bg-white p-3 rounded-4 shadow-lg text-center">
            <h1>Shipping Address</h1>
            <form method="POST" class="row d-flex justify-content-center py-3 px-5">
                {% csrf_token %}
                <label for="address">Address:</label>
                <input type="text" class="form-control" name="address" maxlength="150" autocapitalize="none"
                    autocomplete="street-address" autofocus required id="address"
                    value="{{ shippingAddress.address }}">
                <label for="city">City:</label>
                <input type="text" class="form-control" name="city" maxlength="150" autocapitalize="none"
                    autocomplete="country-name" required id="city" value="{{ shippingAddress.city }}">
                <label for="state">State:</label>
                <input type="text" class="form-control" name="state" maxlength="150" autocapitalize="none"
                    autocomplete="country-name" required id="state" value="{{ shippingAddress.state }}">
                <label for="zipcode">Zipcode:</label>
                <input type="text" class="form-control" name="zipcode" autocomplete="postal-code" required
                    id="zipcode" value="{{ shippingAddress.zipcode }}">
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-primary rounded-pill">Update Address</button>
                </div>
            </form>
        </section>
    </div>
</section>
{% endblock %}