¡Bienvenido, {{ username }}!

Gracias por registrarte en nuestro servicio. Estamos emocionados de tenerte como parte de nuestra comunidad.

Para comenzar a utilizar nuestros servicios, sigue estos simples pasos:

1. Visita nuestro sitio web: https://eco-a4s4.onrender.com/.
2. Inicia sesión con tu nombre de usuario y contraseña proporcionados a continuación.
3. Explora nuestras características y disfruta de tu experiencia.

Usuario: {{ username }}
Contraseña: {{ password }}

¡Gracias por elegirnos!