<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
   <link rel="stylesheet" href="{% static 'css/styles.css'%}">
   <script src="{% static 'js/alert.js' %}" async></script>
   <title>E-Commerce - {% block title %}Store{% endblock %}</title>

   <script type="text/javascript">
      var user = '{{ request.user }}'

      function getToken(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
               var cookie = cookies[i].trim();

               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
               }
            }
         }
         return cookieValue;
      }
      var csrftoken = getToken('csrftoken');

      function getCookie(name) {
         var cookieArr = document.cookie.split(";");

         for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            if (name == cookiePair[0].trim()) {
               return decodeURIComponent(cookiePair[1]);
            }
         }

         return null;
      }

      var cart = JSON.parse(getCookie('cart'))

      if (cart == undefined) {
         cart = {}
         console.log('Cart was created')
         document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=,path=/"
      }

      console.log('Cart:', cart)
   </script>
</head>

<body>
   <header class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
      <div class="container-fluid px-3">
         <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/ecommerce.svg' %}" height="32" alt="">
            E-Commerce
         </a>

         <div class="d-flex justify-content-center align-items-center gap-2">
            <!-- Cart -->
            {% if not user.is_staff %}
            <div class="form-inline my-2 my-lg-0 position-relative">
               <a href="{% url 'cart' %}" class="btn btn-primary">
                  <img src="{% static 'images/cart-icon.svg' %}" alt="cart-icon">
               </a>
               <p id="cart-total" class="position-absolute shadow">{{ cartItems }}</p>
            </div>
            {% endif %}
            <!-- Cart -->
            <!-- Menu -->
            <div class="dropdown dropstart">
               <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <img src="{% static 'images/user-icon.svg' %}" alt="user-icon">
               </button>
               <ul class="dropdown-menu text-center">
                  {% if user.is_authenticated %}
                  <div>
                     <span><strong>{{ user.first_name }}</strong></span>
                     <span>@{{ user.username }}</span>
                  </div>
                  {% endif %}
                  <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                  <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
                  {% endif %}
                  {% if user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'product' %}">Products</a></li>
                  {% endif %}
               </ul>
            </div>
            <!-- Menu -->
         </div>
      </div>
   </header>

   <main class="container justify-content-center align-items-center pb-3">
      {% if messages %}
      {% for message in messages %}
      <div id="myAlert"
         class="alert alert-primary alert-dismissible fade show w-auto position-absolute top-10 start-50 translate-middle-x z-3"
         role="alert">
         {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}
      <div class="row">
         <div class="col-md-9">
            <div class="row">
               <article class="col-lg-12">
                  <img class="shadow-lg rounded-4 w-100" src="{% static 'images/primary-banner.webp' %}" alt="banner">
               </article>
               {% for product in products %}
               <article class="col-lg-4">
                  <div class="bg-white p-3 rounded-4 shadow-lg" style="height: auto;">
                     <div class="d-flex justify-content-between align-items-center">
                        <h5 style="display: inline-block;"><strong>{{ product.name }}</strong></h5>
                        <span style="font-size: 23px;">
                           <strong>${{ product.price|floatformat:2 }}</strong>
                        </span>
                     </div>
                     <div class="m-0 p-0 d-flex justify-content-center align-items-center">
                        <img class="thumbnail rounded-4" src="{{ product.imageURL }}" alt="{{ product.name}}"
                           title="{{ product.name }}">
                     </div>
                     <hr>
                     <button data-product="{{ product.id }}" data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart w-100 rounded-4" style="font-size: 13px;">
                        Add to Cart
                     </button>
                     <!-- <a class="btn btn-outline-success" style="font-size: 13px;" href="#">View</a> -->
                  </div>
               </article>
               {% endfor %}
            </div>
         </div>
         <!-- Sidebar -->
         <nav class="col-lg-3 sidebar mt-2 gap-2">
            <div class="d-flex flex-column sticky-md-top gap-3 ">
               <img src="{% static 'images/banner-sidebar.webp' %}" class="rounded-4 w-100" alt="Promotion">
               <img src="{% static 'images/banner-sidebar2.webp' %}" class="rounded-4 w-100" alt="Promotion">
            </div>
         </nav>
         <!-- Sidebar -->
      </div>
      {% endblock %}
   </main>
   <script src="{% static 'js/header.js' %}" async></script>
   <script src="{% static 'js/bootstrap.bundle.js' %}" async></script>
   <script src="{% static 'js/cart.js' %}" async></script>
</body>

</html>