{% extends 'template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


{% block content %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
   <form id="formularioNumero">
      <label for="numero">Ingrese el número de pregunta:</label>
      <input type="number" id="numero" name="numero" required>
      <button type="submit">Enviar</button>
   </form>

   <div class="chart" id="chart" style="width: 400px;min-height:200px; background-color:white;"></div>
   <!-- Echart -->

   <!-- Custom js -->
   <script src="{% static 'js/main.js' %}"></script>
   <script>
      document.getElementById("formularioNumero").addEventListener("submit", async (event) => {
         event.preventDefault(); // Evitar que el formulario se envíe de manera tradicional

         const numeroPregunta = document.getElementById("numero").value;
         await initChar(numeroPregunta);
      });
   </script>
{% endblock %}