{% extends 'template.html' %}
{% load static %}
{% block title %}Report{% endblock %}


{% block content %}
<form method="post" action="{% url 'report' %}">
   {% csrf_token %}
   <input type="text" name="grafico" placeholder="Ingrese dato 1">
   <input type="submit" value="Enviar">
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>

<div class="chart" id="chart" style="width: 900px;min-height:200px; background-color:white;"></div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}